<section id="container-main">
  <section class="cart-section section">
    <h2>Shopping Cart</h2>
  </section>
  <section class="cart-contents section">
    <% if session[:type].empty? && session[:id].empty? %>
      <p>There are no Items in your cart.</p>
    <% else %>
      <%= render @products %>
    <% end %>
  </section>
  <% if not session[:type].empty? && session[:id].empty? %>
    <section class="checkout-section section">
      <h2>Details</h2>
      <p>Running Total: $<%= @total %><p>
      <p><%= link_to 'Clear Cart', remove_cart_path %></p>
    </section>
  <% end %>
</section>