<section id="container-main">
  
  <section class="cpu-section section">
    <h2>CPU</h2>
    <%= render @cpus %>
  </section>
  
  <section class="ram-section section">
    <h2>RAM</h2>
    <%= render @rams %>
  </section>
</section>