<section id="container-main">
  <section class="section">
    <h2>Search Results</h2>

    <% if @products.empty? %>
        <p>No results found for "<%= params[:keywords] %>"</p>
    <% end %>

    <% if params[:keywords].empty? %>
      <p>Please enter search data.</p>
    <% else %>
      <%= render @products %>
    <% end %>
  </section>
</section>