<section id="container-main">
  <h2>Search Results</h2>

  <% if @products.empty? %>
      <p>Sorry your search for '<%= params[:keywords] %>' returned no results.</p>
  <% end %>

  <% if params[:keywords].empty? %>
    <p>Please enter search data.</p>
  <% else %>
    <%= render @products %>
  <% end %>
  
</section>