/*
    =====INDEX=====
    @reset
    @global fonts
    @global styles
    @header
    @variables
    @container-main
    @products

*/

/*@reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*===@variables===*/

$font:'Open Sans', sans-serif;
$font-size: 14px;
$line-height: 120%;
$h1: 2em;
$h2: 1.5em;
$h3: 1.2em;
$baseu: $font-size*1.618;
$red: #C70B0B ;

/*====@global fonts===*/

.wrapper
{
    width:100%;
    font-family:$font;
    font-size:$font-size;
    line-height: $line-height;
}

body
{
    background-image:url('bg.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:right bottom;
}

h1
{
    font-size: $h1;
    font-weight: 700;
    line-height: 135%;
}

h2
{
    font-size: $h2;
    font-weight: 700;
    line-height: 130%;
}

h3
{
    font-size: $h3;
    line-height: 125%;
}

/*===@global styles===*/

/*links*/

a
{
    text-decoration: none;
    color: #720C0C;
}

a:hover
{
    opacity: .8;
}

/*===@header===*/

header
{
    padding: $baseu 0;
    margin: 0 0 $baseu 0;
    width: 100%;
    float:left;
    background-color: $red;

    .logo
    {
        float:left;
        padding: 0 0 0 $baseu;
        max-width:20%;
        min-width: 10*$baseu;
    }
    nav
    {
        float: right;
        padding: $baseu $baseu 0 0;
    
        ul li
        {   
            display:inline-block;
            font-size:$baseu;

            a
            {
                display: block;
                padding: .25*$baseu $baseu;
                text-transform: uppercase;
                color: white;
            }
            label
            {
                font-size: 1rem;
                color: white;
            }
        }

    }
}

/*===@container-main===*/

#container-main
{
    width: 60% ;
    margin: 0 auto;

    a
    {
        font-weight: 700;
    }
}

/*===@products===*/

.section
{
    width:100%;
    float:left;
    margin: 0 0 $baseu;

    h2
    {
        margin: 0 0 $baseu;
        background-color: #eee;
        padding: .25*$baseu $baseu;
    }

    .product
    {
        width: 28%;
        margin: 0 8% $baseu 0;
        float:left;
        background-color: #FFFFFF;
        box-shadow:2px 2px 1px 0px lightgrey;

        .product-name
        {
            display: block;
        }

        .product-img, .product-info
        {
            float:left;
            line-height: 1.2*$line-height;
        }

        .product-info
        {
            margin-left: .5*$baseu;
        }
    }
    .product:nth-child(3n-2)
    {
        margin-right: 0;
    }
}

/*LAST EDIT 2013-11-25 18:31*/